.author {
    text-align: center;
}

.aboutHeading {
    text-align: center;
    color: white;
}

.aboutIcon {
    width: 75px;
    height: 75px;
}

.authorName {
    height: 40px;
    color: white;
}
.linkStyle{
    color: white;
}