

  .carousalDiv {
    padding: 0%;
    height: 10%;
  }
  .carousel-photo{
    height: 100% !important;
    width: 100%;
    object-fit: contain;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
 
  .item{
    width: 70%;
    height: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  @media (max-width:414px){
    .item{
      width: 70%;
      height: 300px;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
  }