.info {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

.infoDiv {
    margin: 50px;
    text-align: center;
    justify-content: center;
}

.haveFun {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.tabNameSpan {
    color: red;
}