.vsDiv { 
    color: #6d0202;
    font-size: 50px;
    background-color: white;
    font-family: 'Bangers';
    font-weight: bolder;
    font-style: italic;
}

.compareButton {
    border: solid #6d0202;
    color: #6d0202;
    border-radius: 10px;
    height: auto;
    width: 25%;
    font-size: 30px;
    background-color: white;
    font-family: 'Bangers';
    font-weight: bolder;
    font-style: italic;
}

.compareButton:hover {
    background-color: #6d0202;
    color: white;
    border: solid #6d0202
}

.buttonRow, .inputCol {
    justify-content: center;
}

/*.formDiv {
    margin: 20px;
    background-color: rgb(211, 210, 210);
    border: rgb(211, 210, 210) 1px solid;
    border-radius: 20px;
}*/
.formDiv {
    margin: 20px;
    background-color: rgb(247, 244, 244);
    border-right: rgb(194, 178, 178) 10px solid;
    border-bottom: rgb(194, 178, 178) 5px solid;
    border-radius: 20px;
}

.compareStats {
    display: flex;
    flex-direction: column;
}

.compareStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    font-weight: bolder;
}

.details1Div, .details2Div {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-right: #6d0202 7px solid;
    border-bottom: #6d0202 7px solid;
    border-radius: 20px;
    color: #6d0202;
}

.details2Div {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-right: rgb(1, 1, 85) 7px solid;
    border-bottom: rgb(1, 1, 85) 7px solid;
    border-radius: 20px;
    color: rgb(1, 1, 85);
}
