.vsDiv { 
    color: #6d0202;
    font-size: 50px;
    background-color: white;
    font-family: 'Bangers';
    font-weight: bolder;
    font-style: italic;
}

.characterButton {
    border: solid #6d0202;
    color: #6d0202;
    border-radius: 10px;
    height: auto;
    width: 25%;
    font-size: 30px;
    background-color: white;
    font-family: 'Bangers';
    font-weight: bolder;
    font-style: italic;
}

.characterButton:hover {
    background-color: #6d0202;
    color: white;
    border: solid #6d0202
}

.buttonRow, .inputCol {
    justify-content: center;
}

.formDiv {
    margin: 20px;
    background-color: rgb(211, 210, 210);
    border: rgb(211, 210, 210) 1px solid;
    border-radius: 20px;
}

.stat-bars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
}
.comparison-bar1 {
    width: var(--bar-value);
    background-color: #6d0202;
    color: white;
    animation-name: expandBar;
    animation-duration: 1s;
}

.comparison-bar2 {
    width: var(--bar-value);
    width: var(--bar-value);
    background-color: rgb(1, 1, 85);
    color: white;
    animation-name: expandBar;
    animation-duration: 1s;
}

#Comparison-statbars {
    font-family: 'Bangers';
    width: 50%;
}

.characterDetails {
    display: flex;
    flex-direction: column;
}

.characterDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    font-weight: bolder;
}

.details, .details2Div {
    margin: 20px;
    padding: 20px;
    background-color: rgb(211, 210, 210);
    border: rgb(211, 210, 210) 1px solid;
    border-radius: 20px;
}
.labelPadding {
    padding-left: 100px;
    padding-top: 0;
    padding-right: 5px;
  }